/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */
body {
	height: 460px;
	margin: 0 auto;
	width: 320px;
	font-size: 15px;
	font-family:sans-serif;
}



.Mcstatus{ border:1px solid #ccc; margin-right:0px;margin-top:0px;}

.Mcstatus tr.title td{ background:#dde3df; font-weight:bold; font-size:13px;text-align : center;}

.Mcstatus td{ padding:3px 0 2px;}

.Mcstatus .yes{ width:10px; height:10px; background:url(../images/o_03.jpg) left top no-repeat; margin-top:3px; float:right;}

.Mcstatus .no{ width:10px; height:10px; background:url(../images/o_03.jpg) left bottom no-repeat; margin-top:3px; float:right;}

/*.Mcstatus .defaultgreen{ width:24px; height:24px; background:url(../images/defaultgreen.png) left top no-repeat; margin-top:3px; float:right;}*/

.Mcstatus .defaultgreen{ width:24px; height:24px; background:url(../images/defaultgreen.png) left top no-repeat; margin-top:3px;}

/*.Mcstatus .defaultred{ width:24px; height:24px; background:url(../images/defaultred.png) left top no-repeat; margin-top:3px; float:right;}*/

.Mcstatus .defaultred{ width:24px; height:24px; background:url(../images/defaultred.png) left top no-repeat; margin-top:3px;}

/*.Mcstatus .green{ width:24px; height:24px; background:url(../images/green.png) left top no-repeat; margin-top:3px; float:right;}

.Mcstatus .red{ width:24px; height:24px; background:url(../images/red.png) left top no-repeat; margin-top:3px; float:right;}*/

.Mcstatus .green{ width:24px; height:24px; background:url(../images/green.png) left top no-repeat; margin-top:3px; }

.Mcstatus .red{ width:24px; height:24px; background:url(../images/red.png) left top no-repeat; margin-top:3px; }

.Mcstatus .blankgreen0{ width:24px; height:24px; background:url(../images/blankgreen0.png) left top no-repeat; margin-top:3px;}

.Mcstatus .blankgreen1{ width:24px; height:24px; background:url(../images/blankgreen1.png) left top no-repeat; margin-top:3px;}

.Mcstatus .blankred0{ width:24px; height:24px; background:url(../images/blankred0.png) left top no-repeat; margin-top:3px;}

.Mcstatus .blankred1{ width:24px; height:24px; background:url(../images/blankred1.png) left top no-repeat; margin-top:3px;}

.Mcstatus .greenred0{ width:24px; height:24px; background:url(../images/greenred0.png) left top no-repeat; margin-top:3px; }

.Mcstatus .greenred1{ width:24px; height:24px; background:url(../images/greenred1.png) left top no-repeat; margin-top:3px; }

.Mcstatus .redgreen0{ width:24px; height:24px; background:url(../images/redgreen0.png) left top no-repeat; margin-top:3px; }

.Mcstatus .redgreen1{ width:24px; height:24px; background:url(../images/redgreen1.png) left top no-repeat; margin-top:3px; }


.ui-listview > .ui-li-divider {
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
			
table .tr_title{ background-color:#E4E4E4; height:24px; line-height:24px;}
.jihuo_content table img span{border:none; padding-left:50px;}
.jhliftdata_dteail {border-collapse:collapse; }
.jhliftdata_dteail th{ color:#003e7e; border-bottom:1px solid #E6E6E6; font-weight:bold; padding:8px 0px; text-align:right;}
.jhliftdata_dteail td{ border-bottom:1px solid #E6E6E6; padding:8px 0px 8px 8px; text-align:left;}
.jhliftdata_dteail input.dataedit{ border:1px solid #8A929E; }
.jhliftdata_dteail td textarea{border:1px solid #8A929E;height:50px;}
.jhliftdata_dteail input.dataedit{ border:1px solid #8A929E; }
.jhliftdata_dteail td textarea{border:1px solid #8A929E;height:50px; }
.jhliftdata_dteail td label{ }

.jihuo_cols{ border-collapse:collapse;}
table.jihuo_cols td{}
.tr_title{ background-color:#E4E4E4; height:24px; line-height:24px;}
.tr_title td{ text-align:left; padding:2px 0px;}
.zhongduanxinxi{ text-align:right; display:inline; padding-left:0px;}
.tiaoshihang td{ text-align:left; padding:2px 0px;  line-height:26px; }
.tiaoshihang td img{ vertical-align:middle;padding-left:4px; }


A {
    COLOR: #4a4a4a; TEXT-DECORATION: none
}
A:visited {
    COLOR: #666
}
A:hover {
    COLOR: #0066b3; TEXT-DECORATION: none
}
A:focus {outline:none; -moz-outline:none}

.zhuyeui_icon{padding-left:5px; width:37px; height:30px; background:url(../images/zhuye/main_hitachi_09.png) no-repeat;}

.sidebox{ width:100%;}
.sidebox h2{ font-size:15px; color:#444; height:25px; padding:6px 10px 0 10px; border-bottom:1px solid #CCC; background-color:#e4e4e4;}
.sidebox table { border-collapse:collapse;}
.sidebox table td{border-bottom:1px solid #ABABAB; height:50px;font-size: 15px;}
.gundongpic { width:100%; background:url(../images/zhuye/main_hitachi_04.png) repeat-x 0 0; height:160px; }
.leftpic{ float:left; height:160px; width:117px; background:url(../images/zhuye/main_hitachi_02.png) left top;}
.huanyingyu{ padding-top:25px; color:#FFF;text-shadow: none;font-weight: normal;}
.huanyingyu span{ padding-left:5px;}
.gongzuoshix ul{padding-top:35px; }
.gongzuoshix ul li{list-style-type:none; display:inline; color:#FFF; text-align:center;text-shadow: none;font-weight: normal;}
.pagetitle{text-shadow: none;font-weight: normal;font-size:15px;}
.jindu{ position:relative; width:10px; background-color:#e7e0c3; border:1px solid #343432; height:50px; margin-left:7px; }
.jindu ul li{ position:absolute; width:100%; background:url(../images/jindu.jpg) left bottom repeat;left:0; bottom:0;}
.bfb{ height:30px; font-size:12px; text-align:center; line-height:30px; color:#ffffff;text-shadow: none;font-weight: normal;}

table.stdtable td{}
table.stdtable th{}

table.littletable td{font-size:12px;}

.oddtr {background-color:#f0f0f0}
.eventr{background-color:#f8f8f8}

.dongtarilipic { width:100%; background: url(../images/zhuye/main_hitachi-final_04.png) repeat-x 0 0; height:160px; }
.building {width:100%; height:160px; background:url(../images/zhuye/main_hitachi-final_02.png) 0 0 no-repeat; }
.building tr{vertical-align:top; text-shadow: none;font-weight: normal;color:#fff;}
.building img{ padding-left:10px;}

.redbtn{ margin:5px;text-align:center; display:block; text-decoration:none; background:url(../images/button_04.png) no-repeat; width:70px; height:27px; line-height:27px; color:#FFFFFF; cursor:pointer;font-size:12px; color:#ffffff;text-shadow: none;font-weight: normal;}
.redbtn:hover{ margin:5px;background:url(../images/button_06.png) no-repeat; color:ffff00;font-size:12px;color:#ffffff;text-shadow: none;font-weight: normal; }
.bluebtn{ margin:5px;text-align:center; display:block; text-decoration:none; background:url(../images/button_02.png) no-repeat; width:70px; height:27px; line-height:27px; color:#FFFFFF; cursor:pointer;font-size:12px;color:#ffffff;text-shadow: none;font-weight: normal;}
.bluebtn:hover{ margin:5px;background:url(../images/button_03.png) no-repeat; color:ffff00;font-size:12px;color:#ffffff;text-shadow: none;font-weight: normal; }
.graybtn{ margin:5px;text-align:center; display:block; text-decoration:none; background:url(../images/button_08.png) no-repeat; width:70px; height:27px; line-height:27px; color:#FFFFFF; cursor:pointer;font-size:12px;color:#ffffff;text-shadow: none;font-weight: normal;}
.btn_jihuotiaoshi{width:100%;margin:0 auto;}
.btn_jihuotiaoshi ul{ list-style-type:none; margin:0px; padding:0px;}
.btn_jihuotiaoshi li{ float:left; text-align:center; height:27px; line-height:27px;}

.bluelink{ padding-left:25px; display:block; text-decoration:none; background:url(../images/shishijiankong/link-duankai_03.png) no-repeat center center; width:57px; height:22px; line-height:22px; color:#FFFFFF; cursor:pointer;font-size:12px;}
.reddisconnect{ padding-left:25px; display:block; text-decoration:none; background:url(../images/shishijiankong/link-duankai_06.png) no-repeat center center; width:57px; height:22px; line-height:22px; color:#FFFFFF; cursor:pointer;font-size:12px;}
.grayunclick{ padding-left:25px; display:block; text-decoration:none; background:url(../images/shishijiankong/link-duankai_08.png) no-repeat center center; width:57px; height:22px; line-height:22px; color:#FFFFFF; cursor:pointer;font-size:12px;}
.grayunclick2{ padding-left:25px; display:block; text-decoration:none; background:url(../images/shishijiankong/link-duankai_09.png) no-repeat center center; width:57px; height:22px; line-height:22px; color:#FFFFFF; cursor:pointer;font-size:12px;}

.guzhangfb{ border-collapse:collapse;}
.guzhangfb td{height:20px; line-height:20px;}
.bg_color{ background-color:#e4e4e4; height:34px; line-height:34px; }
.bg_color img{ padding-left:8px;}

.gzcd{
	width:100%;
	margin:0;
	font-size:15px;
}

.item{
	float:left;
	width:50%;
    height:35px;
	line-height:35px;
	background-color:#ECF0F1;
}

.item a{height:35px;color:#343643; display:block; text-decoration:none; text-align:center;}
.item a:hover,.item a.bg{ color:#ffffff; background-color:#7DA4C5;}

.gzcudang{ border-collapse:collapse;}
.gzcudang tr td{ padding:3px 0px;}
.bottomxian{ border-bottom:1px solid #ABABAB;}
.gzcd_bgcolor{ background-color:#e4e4e4;}

/***********************电话卡***********************/
.telcard{font-size:15px;}
.telcard .header{background:#2B89D3;color:#ffffff;height:40px;}

.telcard .querybtn{ margin:2px;text-align:center; display:block; text-decoration:none; background:url(../images/chaxun_moren.png) no-repeat; width:65px; height:36px; line-height:36px; cursor:pointer;color:#ffffff;text-shadow: none;font-weight: normal;}
.telcard .querybtn:hover{ margin:2px;background:url(../images/chaxun_active.png) no-repeat; color:#ffffff;text-shadow: none;font-weight: normal; }
.telcard .querybtn:active{ margin:2px;background:url(../images/chaxun_active.png) no-repeat; color:#ffffff;text-shadow: none;font-weight: normal; }
.telcard .querytypebtn{ margin:2px;text-align:center;vertical-align:middle; display:block; text-decoration:none; background:url(../images/guanjianci_moren.png) no-repeat; width:70px; height:27px; line-height:27px; cursor:pointer;color:#ffffff;text-shadow: none;font-weight: normal;}
.telcard .querytypebtn:hover{ margin:2px;vertical-align:middle;background:url(../images/guanjianci_active.png) no-repeat; color:ffff00;color:#ffffff;text-shadow: none;font-weight: normal; }
.telcard .condition{-moz-user-select:none;width:300px;margin:0 auto;padding-left:5px;}
.telcard .condition ul{ list-style-type:none; margin:0px; padding:0px;}
.telcard .condition li{ float:left;text-align:center; height:27px; line-height:27px;}
.telcard table{width:100%;border:0;cellspacing:0;cellpadding:0;}
.telcard .list{padding-left:2px;padding-right:2px;}
.telcard #SearchResult tr{ line-height:30px;height:30px;}
/***********************电梯***********************/
.elevator{font-size:15px;}
.elevator .header{background:#2B89D3;color:#ffffff;height:40px;}

.elevator .querybtn{ margin:2px;text-align:center; display:block; text-decoration:none; background:url(../images/chaxun_moren.png) no-repeat; width:65px; height:36px; line-height:36px; cursor:pointer;color:#ffffff;text-shadow: none;font-weight: normal;}
.elevator .querybtn:hover{ margin:2px;background:url(../images/chaxun_active.png) no-repeat; color:#ffffff;text-shadow: none;font-weight: normal; }
.elevator .querybtn:active{ margin:2px;background:url(../images/chaxun_active.png) no-repeat; color:#ffffff;text-shadow: none;font-weight: normal; }
.elevator table{width:100%;border:0;cellspacing:0;cellpadding:0;}
.elevator .list{padding-left:2px;padding-right:2px;}
.elevator .list tr{line-height:35px;}

.elevatordetail{font-size:15px;}
.elevatordetail .header{background:#2B89D3;color:#ffffff;height:40px;}
.elevatordetail table{width:100%;cellspacing:0;cellpadding:0;}

.elevatordetail #tbmain{line-height:25px;height:25px;padding:0px;}
.elevatordetail #tbmain tr{line-height:25px;}
.elevatordetail #tbmain tr .rowone{color:#0092E7;vertical-align:text-top;}
.elevatordetail #tbmain tr .rowtwo{color:#797B8A;}
.elevatordetail #tbmain tr .rowfour{color:#797B8A;font-size:12px;}
.elevatordetail #tbmain tr .rowthree{color:#343643;text-align:left;}
.elevatordetail #tbperson{border-collapse:collapse;margin-bottom:2px;}
.elevatordetail #tbperson tr{line-height:25px;height:25px;}
.elevatordetail #tbperson td{border-top:1px solid #0092E7;border-bottom:1px solid #0092E7;}
.elevatordetail #tbdetail tr{ line-height:35px;height:35px;}
.elevatordetail .phone {color:#F68B1F;width:30%;}
.elevatordetail #divmain{width:95%;height:100%;margin:0 auto;background-color:#fff;margin-top:5px;margin-bottom:5px; }
.elevatordetail .dianti{vertical-align:top;padding-right:2px;}

/***********************电梯 end***********************/
/***********************收藏记录 start***********************/
.devicetour{font-size:15px;}
.devicetour .header{background:#2B89D3;color:#ffffff;height:40px;}
.devicetour .list{border-collapse:collapse; width:100%;border:0;cellspacing:0;cellpadding:0;}
.devicetour .list .rowcount{background:#D2D2D2;font-size:12px;text-align:right;}
.devicetour .list .lastcontactdate{float:left;display:inline;width:100px;text-align:center;}
.devicetour .list tr .odd{}
.devicetour .list .even{background:#ffffff;}
 

.devicetoursearch{font-size:15px;}
.devicetoursearch .header{background:#2B89D3;color:#ffffff;height:40px;}
.devicetoursearch .querybtn{ margin:2px;text-align:center; display:block; text-decoration:none; background:url(../images/chaxun_moren.png) no-repeat; width:65px; height:36px; line-height:36px; cursor:pointer;color:#ffffff;text-shadow: none;font-weight: normal;}
/***********************设备巡视 end***********************/
/***********************设备巡视 start***********************/
.favorite{font-size:15px;}
.favorite .header{background:#2B89D3;color:#ffffff;height:40px;}
.favorite .list{border-collapse:collapse; width:100%;border:0;cellspacing:0;cellpadding:0;}
.favorite .list .rowcount{background:#D2D2D2;font-size:12px;text-align:right;}
.favorite .list .lastcontactdate{float:left;display:inline;width:100px;text-align:center;}
.favorite .list tr .odd{}
.favorite .list .even{background:#ffffff;}
 

.favoritesearch{font-size:15px;}
.favoritesearch .header{background:#2B89D3;color:#ffffff;height:40px;}
.favoritesearch .querybtn{ margin:2px;text-align:center; display:block; text-decoration:none; background:url(../images/chaxun_moren.png) no-repeat; width:65px; height:36px; line-height:36px; cursor:pointer;color:#ffffff;text-shadow: none;font-weight: normal;}
/***********************收藏记录 end***********************/
.gzcd{
	width:100%;
	margin:0;
	font-size:15px;
}

.item{
	float:left;
	width:50%;
    height:35px;
	line-height:35px;
	background-color:#ffffff;
}

.item a{height:35px;color:#343643; display:block; text-decoration:none; text-align:center;}
.item a:hover,.item a.bg{ color:#ffffff; background-color:#0580CB;}

.historygz{ border-collapse:collapse; }
.historygz tr{ border-bottom:1px solid #e4e4e4; text-align:center;}
.historygz tr td{ padding:5px 0px; color:#0046a6;}/*#ED962A*/
.historygz tr th{ padding:5px 0px; color:#003e7e; background:#ECF0F1;}
.gzcd_bgcolor{ background-color:#e4e4e4;}

.projectlist{ border-collapse:collapse; }
.projectlist .odd {background-color:red}
.projectlist .even{background-color:#f8f8f8}


.ui-icon-custarrow-l{
    background:url('../images/return.png') no-repeat 0px 0px;
}
.ui-icon-custarrow-home{
    background:url('../images/menu/home.png') no-repeat 0px 0px;
}
.ui-icon-custarrow-menu{
    background:url('../images/menu/menu.png') no-repeat 0px 0px;
}
.ui-icon-custarrow-reflash{
    background:url('../images/menu/reflash.png') no-repeat 0px 0px;
}
.ui-icon-custarrow-search{
    background:url('../images/menu/search.png') no-repeat 0px 0px;
}
.ui-icon-custarrow-add{
    background:url('../images/menu/add.png') no-repeat 0px 0px;
}
.ui-icon-custarrow-fmenu{
    background:url('../images/menu/fmenu.png') no-repeat 0px 0px;
}

